.container {
    margin-left: 10%;
    display: grid;
    grid-template-columns: 100px 100px 10px;
}

.buttons {
    display: block;
    height: 100px;
    width: 100px;
}

#reset {
    margin-top: 10%;
    margin-left: 45%;
}

#message {
    margin-left: 5%;
    margin-bottom: 5%;
}
