.Buttons button{
    position: absolute;
    height: 100px;
    width: 100px;
    font-size: 50px;
}

.first_row button {
    top: 30%;
}

.second_row button {
    top: 41%;
}

.third_row button {
    top: 52%;
}

#btn_1, #btn_4, #btn_7 {
    left: 40%;
}

#btn_2, #btn_5, #btn_8{
    left: 51%;
}

#btn_3, #btn_6, #btn_9 {
    left: 62%;
}
