#btn_1 {
    font-size: 50px;
    position: absolute;
    left: 40%;
    top: 30%;
    width: 100px;
    height: 100px;
}

#btn_2 {
    font-size: 50px;
    position: absolute;
    left: 47%;
    top: 30%;
    width: 100px;
    height: 100px;
}

#btn_3 {
    font-size: 50px;
    position: absolute;
    left: 54%;
    top: 30%;
    width: 100px;
    height: 100px;
}

#btn_4 {
    font-size: 50px;
    position: absolute;
    left: 40%;
    top: 41%;
    width: 100px;
    height: 100px;
}

#btn_5 {
    font-size: 50px;
    position: absolute;
    left: 47%;
    top: 41%;
    width: 100px;
    height: 100px;
}

#btn_6 {
    font-size: 50px;
    position: absolute;
    left: 54%;
    top: 41%;
    width: 100px;
    height: 100px;
}

#btn_7 {
    font-size: 50px;
    position: absolute;
    left: 40%;
    top: 52%;
    width: 100px;
    height: 100px;
}

#btn_8 {
    font-size: 50px;
    position: absolute;
    left: 47%;
    top: 52%;
    width: 100px;
    height: 100px;
}

#btn_9 {
    font-size: 50px;
    position: absolute;
    left: 54%;
    top: 52%;
    width: 100px;
    height: 100px;
}
